#main {
    padding: 0% 10%;
    padding-top: 50px;
    
    
}

.article{
    position: relative;
    display: flex;
    margin: 20px 0px 20px 0px;
    background-color: white;
    padding: 14px;
    border-radius: 5px;
    border: 1px  #e5e9f2 solid;
    align-content: center

    
}
.content{
    padding: 0 ;

}

.photo{
border-radius: 5px;
padding-right: 2%;

}

.date{
    color: cornflowerblue;
    font-weight: bold;

}

.head{
    font-family: serif;
    text-transform: capitalize;
    padding-bottom: 10px;
    width: 80%;
}

.des{
    margin-bottom: 6%;
    max-width: 80%;
}






