*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
#root{
    height: 100%;
    background-color: #f5f5fa;
}
#navBar{
    height: 100px;
    background-color: white;
    display: flex;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
    padding: 0% 10%;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 175px;
}

input[type='text']{
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 38px;
    width: 250px;
    border: none;
    padding: 0px 20px;
    font-size: 1rem;
}

#options{
    display: flex;
}

#search-box{
    margin-left: 20px;
}


#lists{
    display: flex;
}

#select1{
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 38px;
    width: 100px;
    border: none;
    padding: 0px 10px;
    font-size: 0.8rem;
    margin-left: 20px;
}
#select2{
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 38px;
    width: 100px;
    border: none;
    padding: 0px 10px;
    font-size: 0.8rem;
    margin-left: 20px;
}

